 .u-section-1 {
  min-height: 434px;
}

.u-section-1 .u-image-1 {
  height: 433px;
  margin-top: 1px;
  margin-bottom: 0;
  object-position: 50% 65.42%;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -282px calc(((100% - 1140px) / 2) + 366px) 151px calc(((100% - 1140px) / 2) + 60px);
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-right: calc(((100% - 940px) / 2) + 226px);
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 88px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 6px);
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2));
    margin-bottom: 60px;
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 15px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }
} .u-section-2 {
  min-height: 394px;
}

.u-section-2 .u-image-1 {
  width: 365px;
  height: 428px;
  object-position: 27.78% 50%;
  margin: -34px calc(((100% - 1140px) / 2) + 44px) 0 auto;
}

.u-section-2 .u-shape-1 {
  width: calc(((100% - 1140px) / 2));
  height: 311px;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -356px 0 0 auto;
}

.u-section-2 .u-shape-2 {
  width: 673px;
  height: 311px;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -310px auto 0 calc(((100% - 1140px) / 2) + 34px);
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 600;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -264px calc(((100% - 1140px) / 2) + 491px) 0 calc(((100% - 1140px) / 2) + 92px);
}

.u-section-2 .u-social-icons-1 {
  height: 44px;
  min-height: 16px;
  width: 234px;
  min-width: 124px;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 22px auto 0 calc(((100% - 1140px) / 2) + 253px);
}

.u-section-2 .u-icon-1 {
  height: 44px;
}

.u-section-2 .u-icon-2 {
  height: 100%;
}

.u-section-2 .u-icon-4 {
  height: 44px;
}

.u-section-2 .u-shape-3 {
  width: calc(((100% - 1140px) / 2));
  height: 311px;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -267px auto 42px 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 478px;
  }

  .u-section-2 .u-image-1 {
    width: 296px;
    height: 552px;
    margin-top: -73px;
    margin-right: calc(((100% - 940px) / 2) + 43px);
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 940px) / 2));
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin-top: -395px;
  }

  .u-section-2 .u-shape-2 {
    width: 537px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin-left: calc(((100% - 940px) / 2) + 21px);
  }

  .u-section-2 .u-text-1 {
    width: auto;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin-right: calc(((100% - 940px) / 2) + 399px);
    margin-left: calc(((100% - 940px) / 2) + 38px);
  }

  .u-section-2 .u-social-icons-1 {
    width: 236px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin-left: calc(((100% - 940px) / 2) + 172px);
  }

  .u-section-2 .u-shape-3 {
    width: calc(((100% - 940px) / 2) + -22px);
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin-top: -270px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 13px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -338px;
    margin-right: calc(((100% - 1140px) / 2) + 351px);
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 720px) / 2));
    margin-top: 0;
  }

  .u-section-2 .u-shape-2 {
    width: calc(((100% - 720px) / 2) + 773px);
    height: 422px;
    margin-top: -84px;
    margin-right: calc(((100% - 720px) / 2) + -53px);
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    width: 558px;
    margin-top: -323px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: 24px;
    margin-left: auto;
  }

  .u-section-2 .u-shape-3 {
    width: calc(((100% - 1140px) / 2) + 188px);
    margin-top: -239px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    margin-right: calc(((100% - 1140px) / 2) + 441px);
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-shape-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2 .u-social-icons-1 {
    width: 234px;
  }

  .u-section-2 .u-shape-3 {
    width: calc(((100% - 1140px) / 2) + 278px);
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 231px;
  }

  .u-section-2 .u-image-1 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 432px);
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-shape-2 {
    height: 231px;
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
    margin-top: -201px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-social-icons-1 {
    height: 36px;
    width: 204px;
    margin-top: 32px;
    margin-bottom: 29px;
  }

  .u-section-2 .u-shape-3 {
    width: calc(((100% - 1140px) / 2) + 378px);
    margin-top: -533px;
  }
} .u-section-3 {
  min-height: 451px;
}

.u-section-3 .u-image-1 {
  width: 396px;
  object-position: 18.7% 50%;
  height: 451px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-1 {
  font-family: Rubik;
  font-size: 3rem;
  font-weight: 700;
  background-image: none;
  margin: -420px calc(((100% - 1140px) / 2) + 29px) 0 calc(((100% - 1140px) / 2) + 713px);
}

.u-section-3 .u-text-2 {
  line-height: 2;
  letter-spacing: 1px;
  font-size: 1.875rem;
  margin: 8px calc(((100% - 1140px) / 2) + 35px) 0 calc(((100% - 1140px) / 2) + 370px);
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    --animation-custom_in-translate_x: -400px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 542px);
    --animation-custom_in-translate_x: -400px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-right: calc(((100% - 940px) / 2));
    margin-bottom: 24px;
    margin-left: calc(((100% - 940px) / 2) + 427px);
    --animation-custom_in-translate_x: -400px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 470px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 131px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 322px);
  }

  .u-section-3 .u-text-2 {
    margin: 15px 50px 32px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 142px);
  }

  .u-section-3 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 356px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 387px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
    margin-top: 33px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 793px;
}

.u-section-4 .u-image-1 {
  width: 240px;
  height: 240px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  background-image: url("images/image3.png");
  background-position: 50% 50%;
  margin: 90px auto 0 28px;
}

.u-section-4 .u-shape-1 {
  width: 484px;
  height: 95px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -373px auto 0 0;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-family: Rubik;
  font-weight: 700;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -75px 706px 0 50px;
}

.u-section-4 .u-image-2 {
  width: 251px;
  height: 251px;
  object-position: 47.44% 50%;
  background-image: url("images/mika-baumeister-YNwOnhdmHb0-unsplash.jpg");
  background-position: 50% 50%;
  margin: 56px auto 0 306px;
}

.u-section-4 .u-image-3 {
  width: 240px;
  height: 240px;
  object-position: 100% 50%;
  background-image: url("images/n89900-480x480.jpg");
  background-position: 50% 50%;
  margin: -245px auto 0 595px;
}

.u-section-4 .u-image-4 {
  width: 240px;
  height: 240px;
  object-position: 6.01% 50%;
  background-image: url("images/image12.png");
  background-position: 50% 50%;
  margin: -240px auto 0 873px;
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  font-family: Rubik;
  font-weight: 700;
  margin: 38px 921px 0 59px;
}

.u-section-4 .u-text-3 {
  font-size: 1.875rem;
  font-family: Rubik;
  font-weight: 700;
  margin: -33px 639px 0 362px;
}

.u-section-4 .u-text-4 {
  font-size: 1.875rem;
  font-family: Rubik;
  font-weight: 700;
  margin: -33px 337px 0 627px;
}

.u-section-4 .u-text-5 {
  font-size: 1.875rem;
  font-family: Rubik;
  font-weight: 700;
  margin: -33px 72px 0 918px;
}

.u-section-4 .u-text-6 {
  line-height: 2;
  letter-spacing: 1px;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 33px 64px 0;
}

.u-section-4 .u-image-5 {
  width: 165px;
  height: 113px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 33px auto 32px 466px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 746px;
  }

  .u-section-4 .u-image-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 87px;
    margin-left: 20px;
  }

  .u-section-4 .u-shape-1 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-text-1 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-top: -73px;
    margin-right: 506px;
  }

  .u-section-4 .u-image-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 54px;
    margin-left: 234px;
  }

  .u-section-4 .u-image-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-left: 442px;
  }

  .u-section-4 .u-image-4 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-left: 667px;
  }

  .u-section-4 .u-text-2 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-top: 32px;
    margin-right: 720px;
    margin-left: 60px;
  }

  .u-section-4 .u-text-3 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-right: 511px;
    margin-left: 289px;
  }

  .u-section-4 .u-text-4 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-right: 294px;
    margin-left: 470px;
  }

  .u-section-4 .u-text-5 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-right: 78px;
    margin-left: 712px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.5rem;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-top: 32px;
    margin-right: 58px;
    margin-left: 20px;
  }

  .u-section-4 .u-image-5 {
    margin-right: 351px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 351px;
    margin-left: -7px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 0;
    margin-left: -50px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 336px;
    margin-left: 0;
  }

  .u-section-4 .u-image-2 {
    margin-left: 233px;
  }

  .u-section-4 .u-image-3 {
    margin-top: -648px;
    margin-left: 483px;
  }

  .u-section-4 .u-image-4 {
    margin-top: -654px;
    margin-left: 488px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 54px;
    margin-right: 566px;
    margin-left: -6px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 392px;
    margin-left: 188px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 178px;
    margin-left: 366px;
  }

  .u-section-4 .u-text-5 {
    margin-right: -6px;
    margin-left: 576px;
  }

  .u-section-4 .u-text-6 {
    margin: 33px 22px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 156px;
  }

  .u-section-4 .u-image-3 {
    margin-left: 308px;
  }

  .u-section-4 .u-image-4 {
    margin-left: 308px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 283px;
    margin-left: 99px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 95px;
    margin-left: 305px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 22px;
    margin-right: 274px;
    margin-left: 90px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 90px;
    margin-left: 300px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 17px;
    margin-right: 17px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 434px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 325px;
  }

  .u-section-4 .u-shape-1 {
    height: 69px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    width: 193px;
    margin-top: -47px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-image-2 {
    margin-top: 119px;
    margin-left: 97px;
  }

  .u-section-4 .u-image-3 {
    margin-left: 108px;
  }

  .u-section-4 .u-image-4 {
    margin-top: -653px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 100px;
    margin-right: 182px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.5rem;
    margin-top: -26px;
    margin-right: 0;
    margin-left: 200px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.5rem;
    margin-top: -83px;
    margin-right: 164px;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.5rem;
    margin-top: -26px;
    margin-right: -9px;
    margin-left: 200px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.125rem;
    margin: 79px 0 22px;
  }

  .u-section-4 .u-image-5 {
    margin-top: 835px;
    margin-right: 175px;
    margin-bottom: 60px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 418px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-family: Rubik;
  font-weight: 700;
  width: 420px;
  margin: 39px auto 0;
}

.u-section-5 .u-slider-1 {
  margin-top: 14px;
  margin-bottom: 39px;
  min-height: 274px;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 55px;
}

.u-section-5 .u-gallery-1 {
  height: 200px;
  width: 900px;
  margin: 0 auto;
}

.u-section-5 .u-gallery-inner-1 {
  grid-gap: 10px 10px;
  grid-template-columns: auto auto auto auto;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 55px;
}

.u-section-5 .u-gallery-2 {
  height: 200px;
  width: 900px;
  margin: 0 auto;
}

.u-section-5 .u-gallery-inner-2 {
  grid-gap: 10px 10px;
  grid-template-columns: auto auto auto auto;
}

.u-section-5 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 55px;
}

.u-section-5 .u-gallery-3 {
  height: 200px;
  width: 700px;
  margin: 0 auto;
}

.u-section-5 .u-gallery-inner-3 {
  grid-gap: 10px 10px;
  grid-template-columns: auto auto auto;
}

.u-section-5 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-carousel-control-1 {
  background-image: none;
  width: 55px;
  height: 55px;
  left: 0;
  top: 105px;
  position: absolute;
  right: auto;
}

.u-section-5 .u-carousel-control-2 {
  background-image: none;
  width: 55px;
  height: 55px;
  left: auto;
  top: 105px;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 33px;
  }

  .u-section-5 .u-slider-1 {
    margin-top: 6px;
    margin-bottom: 33px;
    min-height: 264px;
    height: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-5 .u-gallery-1 {
    width: 100%;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-5 .u-gallery-2 {
    width: 100%;
  }

  .u-section-5 .u-gallery-inner-2 {
    grid-template-columns: repeat(4, auto);
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-5 .u-gallery-3 {
    width: 80%;
  }

  .u-section-5 .u-gallery-inner-3 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 598px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 40px;
  }

  .u-section-5 .u-slider-1 {
    margin-bottom: 40px;
    min-height: 460px;
  }

  .u-section-5 .u-gallery-1 {
    height: 400px;
    width: 400px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-5 .u-gallery-2 {
    height: 400px;
    width: 400px;
  }

  .u-section-5 .u-gallery-inner-2 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-5 .u-gallery-3 {
    height: 400px;
    width: 400px;
  }

  .u-section-5 .u-gallery-inner-3 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: auto auto;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-gallery-inner-2 {
    grid-template-columns: auto auto;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-gallery-inner-3 {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 406px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    width: 209px;
    margin-top: 32px;
  }

  .u-section-5 .u-slider-1 {
    margin-top: 7px;
    margin-bottom: 32px;
    min-height: 310px;
  }

  .u-section-5 .u-gallery-1 {
    height: 250px;
    width: 250px;
  }

  .u-section-5 .u-gallery-2 {
    height: 250px;
    width: 250px;
  }

  .u-section-5 .u-gallery-3 {
    height: 250px;
    width: 250px;
  }

  .u-section-5 .u-carousel-control-1 {
    width: 38px;
    height: 38px;
    padding: 8px;
  }

  .u-section-5 .u-carousel-control-2 {
    width: 38px;
    height: 38px;
    padding: 8px;
  }
}